{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div>

<a href="/admin/user/new/">Add New User</a>
<br><br>

<h2>Users</h2>

<table class="table">
<tr>
    <th>Name</th>
    <th>Actions</th>
</tr>
{% for user in users %}
    <tr>
    <td>{{ user.name }}</td>
    <td> <a href="/admin/user/show/{{ user.id }}">Show</a> | <a href="/admin/user/edit/{{ user.id }}">Edit</a> 
        | <a href="/admin/user/delete/{{ user.id }}">Delete</a></td>
    </tr>
{% endfor %}
</table>


</div>
{% endblock %}
